{% extends '/base.html.twig' %}
{% block body %}
<h1>Annuler une sortie</h1>
<div class="col-4 my-4">
    {{ form_start(addEventForm) }}
    {{event.name}}
    {{ form_row(addEventForm.eventInfo)|nl2br }}
    {{ form_row(addEventForm.cancel) }}
    {{ form_end(addEventForm) }}
</div>

{% endblock %}