{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <p>Nom de la sortie :</p><p>{{ event.name }}</p>
                <p>Date et heure de la sorie :</p><p>{{ event.dateTimeStart | date('d-m-Y H:i:s') }}</p>
                <p>Date limite d'inscription :</p><p>{{ event.registrationClosingDate | date('d-m-Y') }}</p>
                <p>Nombre de places :</p><p>{{ event.maxParticipants }}</p>
                <p>Durée :</p><p>{{ event.duration }}</p>
                <p>Description et infos :</p><p>{{ event.eventInfo }}</p>
            </div>
            <div class="col-md-4">
                <p>Campus :</p><p>{{ event.campus.name }}</p>
                <p>Lieu :</p><p>{{ event.venue.name }}</p>
                <p>Rue :</p><p>{{ event.venue.street }}</p>
                <p>Code postal :</p><p>{{ event.venue.town.postCode }}</p>
                <p>Latitude :</p><p></p>
                <p>Longitude :</p><p></p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-offset-2 col-md-3">


                    <table class="table table-dark table-striped table-hover table-borderless">
                        <thead class="table-dark">
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom  </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for participant in participants %}
                        <tr>
                                <td>{{ participant.pseudo }}</td>
                                <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                        </tr>
                            {% endfor %}

                        </tbody>
                    </table>
            </div>



        </div>
    </div>



{% endblock %}
