{% extends 'base.html.twig' %}
  {% block body %}
      <div class="container-fluid m-3">
          <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                  <p>DATE DU JOUR</p>
                  <p>Personne connectée</p>

              </div>
          </div>
      </div>
      <div class="form">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                      {# form #}
                      {{ form_start (form)}}

                      {{ form_widget (form)}}

                      {#  <div class="col-md-2">
            <a href="{{ path('findBy')}}" class="btn btn-primary btn-lg mt-5">
               Rechercher</a>
        </div>#}
                      {{ form_end (form)}}

                  </div>
              </div>
          </div>
      </div>


      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 ">
                  <div class="overflow-auto">
                      <table class="table table-striped table-hover ">
                          <thead>
                          <tr>
                              <th scope="col">Event name</th>
                              <th scope="col">Event date</th>
                              <th scope="col">Registration closing date</th>
                              <th scope="col">Registered/places</th>
                              <th scope="col">Status</th>
                              <th scope="col">Registered</th>
                              <th scope="col">Organiser</th>
                              <th scope="col">Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              {% for e in events %}
                              <td>{{ e.name }}</td>
                              <td>{{ e.dateTimeStart| date('d-m-Y')}}</td>
                              <td>{{ e.registrationClosingDate| date('d-m-Y')}}</td>
                              <td>{{ e.maxParticipants }}</td>
                              <td>{{ e.Status.description}}</td>
                              <td>X</td>
                              <td>{{ e.getOrganizer().getFirstname()}}</td>
                              <td>Actions</td>
                          </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="m-3">
          <button type="button" class="btn btn-primary btn-lg mt-5">Créer une sortie</button>

      </div>
  {% endblock %}