{% extends 'base.html.twig' %}
  {% block body %}
    <h1>Créer une sortie</h1>
    <div class="col-4 my-4">
      {{ form_start(addEventForm) }}
      {{ form_row(addEventForm.name) }}
      {{ form_row(addEventForm.dateTimeStart, {
        label: 'Date et heure de la sortie'
      }) }}
      {{ form_row(addEventForm.registrationClosingDate, {
        label: "Date limite d'inscription"
      }) }}
      {{ form_row(addEventForm.maxParticipants) }}
      {{ form_row(addEventForm.duration) }}
      {{ form_row(addEventForm.eventInfo) }}
      {{ form_row(addEventForm.campus) }}
      {{ form_row(addEventForm.town) }}
      {{ form_row(addEventForm.venue) }}
     {{ form_row(addEventForm.street) }}
      {{ form_row(addEventForm.postCode) }}

      {{ form_end(addEventForm) }}
    </div>

  {% endblock %}